
h1{
    color: white;
    background-color:  #5a301c;
}

button {
    background-color: white;
    
}

.botao {

    color: #e65b1b;
    font-weight:bold;

}

.produtos {

    background-color: #5a301c;
}

