* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(29, 31, 61);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;
    align-items: center;

}

.logo {
    height: 250px;
    
}

.quem {
    margin-left: 520px;
}

.contato {
    
  color: rgb(29, 31, 61);
}

button {
    font-size: larger;
    border-radius: 70px;
    padding: 7px;
}
/* body{
    background-image: url("img/foto2.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;  
       
} */

.estudantes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 1348px  

}